nav {
    width: 100%;
    background-color: #424558;
}

nav>ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav>ul>li {
    float: left;
    position: relative;
    border-radius: 10px;
}

nav>ul::after {
    content: "";
    display: table;
    clear: both;
}

.sous-menu {
    display: none;
}

nav input[type=checkbox] {
    display: none;
}

nav label {
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav>ul>li>a {
    padding: 20px 30px;
    color: #FFF;
}

nav>ul>li:hover a {
    padding: 15px 30px 20px 30px;
}

nav li:hover .sous-menu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.sous-menu li a {
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

.sous-menu li {
    border-bottom: 1px solid #CCC;
}

.menu-rmga:hover {
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77, 38, 0.15);
}

.menu-pension:hover {
    border-top: 5px solid #0070bb;
    background-color: RGBa(000, 112, 192, 0.15);
}

.menu-actu:hover {
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}

.menu-conseil:hover {
    border-top: 5px solid #BBB;
    background-color: RGBa(220, 220, 220, 0.15);
}

.menu-contacts:hover {
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}

.menu-rmga .sous-menu {
    background-color: RGB(230, 100, 40);
}

.menu-pension .sous-menu {
    background-color: RGB(000, 160, 240);
}

.menu-actu .sous-menu {
    background-color: RGB(250, 215, 100);
}

.menu-conseil .sous-menu {
    background-color: RGB(000, 160, 240);
}

.menu-contacts .sous-menu {
    background-color: RGB(230, 100, 40);
}

.sous-menu li:hover a {
    color: #EEE;
    font-weight: bold;
}

.menu-rmga .sous-menu li:hover {
    background-color: RGB(210, 77, 60);
}

.menu-pension .sous-menu li:hover {
    background-color: RGB(000, 115, 200);
}

.menu-actu {
    background-color: RGB(200, 165, 75);
}

.menu-conseil .sous-menu li:hover {
    background-color: RGB(000, 115, 200);
}

.menu-contacts .sous-menu li:hover {
    background-color: RGB(201, 77, 60);
}

nav input[type=checkbox]:checked~ul {
    display: block;
}

@media screen and (max-width: 780px) {
    .menu-mobile {
        display: block;
        color: #FFF;
        background-color: RGBa(29, 197, 151, 0.97);
        text-align: center;
    }
    nav ul {
        display: none;
    }
    nav ul li,
    nav ul li a {
        width: 100%;
        text-align: center;
    }
    nav ul li a,
    nav ul li:hover a {
        padding: 10px 0px;
    }
    nav li:hover .sous-menu {
        display: block;
        position: static;
    }
}

h1,
h2,
h3 {
    margin: 2em 0 1em;
    font-weight: normal;
    color: rgb(49, 153, 194);
    text-align: center;
}